$primary : #28A1B7;
$dark: #1D1D1B;
$grey: #606060;
$light: #ffffff;
$alegreya: 'Alegreya Sans', serif;
$figtree: 'Figtree', sans-serif;
@media (max-width: 1024px) {

}
@media (max-width: 768px) {

}
@media (max-width: 575px) {
	* {

		body {

			p {
				font-size: 16px;
			}

			.btn-primary {
				
				font-size: 16px;

				img {
				}
			}

			.btn-light {
				
				font-size: 16px;

				img {
				}
			}

			header {
				
				&#masthead {

					&.static {
						nav {
							height: 80px;
							.logo {
								img {
									margin-top: 0;
								}
							}
						}
					}

					nav {

						height: auto;

						.z-index-movil{
							z-index: 2;
						}

						button {
							border: 0;
						}
						
						.logo {
							img {
								max-height: 50px;
								
							}
						}

						.navbar-collapse {
							&.show {

							}
						}

						#menu-primary {
							width: 100%;
						    background-color: #F3F6F6;
						    position: fixed;
						    top: 0;
						    bottom: 0;
						    right: 0;
						    left: 0;
						    z-index: 1;
							
							ul {
								
								padding-top: 0;
								text-align: center;
								height: 100vh;
								-webkit-box-pack: center!important;
							    -ms-flex-pack: center!important;
							    justify-content: center!important;
								
								li {
									padding-left: 0;
									margin: 1rem auto;
									padding: 0 0 0 0;
									width: 100%;
									&.active {
										a {
											&:after {
												position: relative;
												width: 100%;
												display: block;
												border-bottom: 1px solid $light;
												padding-bottom: 1rem;
												
											}
										}
									}
									a {
										font-size: 20px;
										color: light;
									}
								}
							}
						}
					}
				}
			}

			section {

				border: 1px dotted red;

				.container {
					padding-right: 20px;
					padding-left: 20px;
					
					border: 1px dotted orange;
					> .row {
						border: 1px dotted green;
					}
				}

				&#inicio {
					
					h1 {
						font-size: 24px;
					}

					

					

					.card {

						p {
							&.title {
								font-size: 18px;
							}

							&.subtitle {
								font-size: 12px;
							}

						}
					}
				}

				&#cifras {
					h2 {
						font-size: 22px;
					}

					.cards {
						.card {
							img {
							}
							p {
								font-size: 14px;
								&.title {
									font-size: 14px;
								}
								&.cifras {
									font-size: 34px;
									span {
										font-size: 14px;
										i.fa {
										}
									}
								}
							}
						}
					}

				}

				&#graficas {
					h3 {
						font-size: 14px;
					}
				}

				&#banner {
					.card {

						p {
							font-size: 20px;
							
							line-height: 1.2;
							b {
								font-size: 22px;
								
								
								line-height: 1.2;
							}
						}

					}
				}

				&#mapa {

					h2 {
						font-size: 22px;
						
					}

					p {
						font-size: 18px;
					}
				}

				&#reportes {
					h2 {
						font-size: 22px;
					}
					h4 {
						font-size: 20px;
					}

					.row {
						&.ver-todos {

							p {
								a {
								}
							}
						}
						.ver-todo {
							&:hover {
								img {

								}
							}
						}
						&.bordered {

							a {
								&.my-auto {
									&:hover {
										img {

										}
									}
								}
							}

							p {
								&.title {
									a {
										font-size: 16px;
										span {
											font-size: 14px;
										}

									}
								}

								

							}

						}
					}

					.card {
						img {

						}

						p {

							&.tag {
								font-size: 14px;
							}

							
							&.title {
								font-size: 16px;
							}

							
							&.extract {
								font-size: 16px;
							}

						}

					}

				}

				&#quienes-somos {
					h2 {
						font-size: 22px;
					}
				

					p {
						&.text-center {
							font-size: 16px;
							&:last-child {
								font-weight: 500;
							}
						}
					}


					.swiper-button-disabled {
					}

					.card {
						p {



							&.name {
								font-size: 21.341px;
							}
							&.position {
								font-size: 18px;
							}
						}
					}
				}

				&#nuestra-historia {
					h2 {
						font-size: 22px;
					}

					.left-column {
						p {
							font-size: 16px;
							
						}
					}
					
					.right-column {
						.caption-box {
							.caption-body {
								p {
									font-size: 16px;
									&.years {
										font-size: 24px;
										span {
											font-size: 14px;
										}
									}
								}
							}
						}
					}

				}

				&#en-memoria {

					h2 {
						font-size: 22px;
					}

					.swiper-slide {
						.card {
							p {
								
								&.name {
									font-size: 12px;
								}
								
								&.position {
									font-size: 12px;
								}
								
								&.text {
									font-size: 12px;
									line-height: 1.5;
								}
							}
						}
					}

				}

				&.dashboard {
					&.header {
						h1 {
							
							font-size: 26px;
							
						}
					}

					form {
						&.form-inline {
							display: block!important;
						}
					}

					&.badges {
						p {
						}
						a {
							
							padding: 2px 12px;
							align-items: center;
							border-radius: 11px;
							background: #E8E8E8;
							color: $dark;
							font-family: $figtree;
							font-size: 13px;
							font-style: normal;
							font-weight: 400;
							line-height: 18px; /* 138.462% */
							
							&.badge-pill {
								img {
									margin-left: 8px;
								}
							}

							&:hover {
								background-color: $light;
								color: #ededed;

							}
						}
					}

					&.graficas {
						height: auto;
						h3 {
							font-size: 20px;
							
							
							
							
						}
						canvas {
							&#bars-chart {

							}
						}
					}
				}

			}

			footer {

				a {
					i {
						&.fab{
							font-size: 18px;
						}
					}
				}

				&.dashboard {
					p {
						font-size: 14px;
						
					}
				}
			}
		}
	}
}