$primary : #28A1B7;
$dark: #1D1D1B;
$grey: #606060;
$light: #ffffff;
$alegreya: 'Alegreya Sans', serif;
$figtree: 'Figtree', sans-serif;
$inter: 'Inter', sans-serif;


* {
	
	font-family: $alegreya;
	color: $dark;
	
	body {

		background-color: #F3F6F6;

		p {
			font-size: 20px;
			font-size: 1.6vw;
			font-weight: 400;
			letter-spacing: -0.44px;
		}

		.btn-primary {
			border-radius: 8px;
			border: 1px solid var(--base-dark, #1D1D1B);
			background: var(--base-dark, #1D1D1B);
			box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
			font-weight: 700;
			font-size: 1.4vw;
			line-height: 1.5;
			font-family: $alegreya;

			img {
				margin-bottom: 2px;
				margin-left: 5px;
			}
		}

		header {
			width: 100%;
			&#masthead {
					

				nav {
				
					height: 104px;

					a {
						&.logo {
							&:after {
								border: 0;
							}
						}
					}

					#menu-primary {
						ul {
							li {
								padding: 0 0 0 1rem;
								
								&:hover,
								&.active {
									a {
										font-weight: 700;
										color: $primary;
									}
								}
								a {
									color: $dark;
									font-size: 16px;
									font-size: 1.3vw;
									font-family: $figtree;
									font-weight: 400;
									line-height: 1.1;
									text-decoration: none;

									&::after {
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}

		section {

			&#inicio {
				
				h1 {
					font-size: 36px;
					font-size: 2.7vw;
					font-family: $inter;
					font-weight: 700;
					letter-spacing: -0.792px;
				}

				

				

				.card {

					border: 0;
					border-radius: 8px;
					background: #FFF;
					box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
					p {
						&.title {
							font-size: 24px;
							font-size: 1.4vw;
							font-weight: 700;
							font-family: $figtree;
							text-align: center;
							margin-bottom: 0;
						}

						&.subtitle {
							font-size: 16px;
							font-size: 1.1vw;
							font-weight: 400;
							font-family: $alegreya;
							text-align: center;
							margin-bottom: 0;
							width: 80%;
							margin: 0 auto;
						}

					}
				}
			}

			&#cifras {
				h2 {
					font-size: 40px;
					font-size: 3.1vw;
					font-weight: 700;
					font-family: $figtree;
					letter-spacing: -0.88px;
				}

				.cards {
					.card {
						border-radius: 8px;
						background-color: $light;
						img {
							width: 29px;
							height: 30px;
							flex-shrink: 0;
						}
						p {
							&.title {
								font-size: 18px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
								letter-spacing: -0.342px;
							}
							&.cifras {
								margin-bottom: 0;
								font-size: 48px;
								font-size: 4vw;
								font-style: normal;
								font-weight: 700;
								font-family: $figtree;
								line-height: normal;
								letter-spacing: -1.056px;
								span {
									color: #DD4040;
									text-align: center;
									font-family: Figtree;
									font-size: 16px;
									font-size: 1.3vw;
									font-style: normal;
									font-weight: 400;
									line-height: 150%; /* 24px */
									letter-spacing: -0.304px;;
									i.fa {
										color: inherit;
									}
								}
							}
						}
					}
				}

			}

			&#graficas {
				h3 {
					font-size: 20px;
					font-family: $alegreya;
					font-weight: 700;
				}
			}

			&#banner {
				.card {
					border-radius: 8px;
					background: #FFF;

					p {
						font-size: 24px;
						font-size: 1.9vw;
						font-style: normal;
						font-weight: 400;
						line-height: 150%; /* 36px */
						letter-spacing: -0.456px;
						b {
							font-size: 24px;
							font-size: 1.9vw;
							font-style: normal;
							font-weight: 700;
							line-height: 150%;
							letter-spacing: -0.456px;
						}
					}

				}
			}

			&#mapa {
				h2 {
					font-size: 40px;
					font-size: 3.1vw;
					font-weight: 700;
					font-family: $figtree;
					letter-spacing: -0.88px;
				}
			}


			&#reportes {
				h4 {
					font-family: $figtree;
					font-size: 18px;
					font-style: normal;
					font-weight: 700;
					line-height: 150%; /* 27px */
					letter-spacing: -0.342px;
				}

				.row {
					&.ver-todos {

						min-height: 95px;
						p {
							a {
								color: $primary;
								font-family: $alegreya;
								font-size: 18px;
								font-style: normal;
								font-weight: 500;
								line-height: normal;
							}
						}
					}
					&.bordered {
						border-bottom: 1px solid #B4B4B4;
						min-height: 100px;

						p {
							&.title {
								a {

									color: $grey;
									font-family: $figtree;
									font-size: 20px;
									font-style: normal;
									font-weight: 600;
									line-height: 150%; /* 30px */
									letter-spacing: -0.38px;
									span {
										color: $grey;
										font-family: $alegreya;
										font-size: 18px;
										font-style: normal;
										font-weight: 400;
										line-height: 150%; /* 27px */
										letter-spacing: -0.342px;
									}

								}
							}

							

						}

					}
				}

				.card {
					img {

					}

					p {

						&.tag {
							font-family: $alegreya;
							font-size: 16px;
							font-style: normal;
							font-weight: 700;
							line-height: normal;
							letter-spacing: -0.352px;
						}

						
						&.title {
							font-family: $figtree;
							font-size: 24px;
							font-style: normal;
							font-weight: 700;
							line-height: normal;
							letter-spacing: -0.528px;
						}

						
						&.extract {
							color: $grey;
							font-family: $alegreya;
							font-size: 18px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
							letter-spacing: -0.342px;
						}

					}

				}

			}

			&#quienes-somos {
				.card {
					border-radius: 8px;
					background: #FFF;
					box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
					p {
						&.name {
							font-family: $figtree;
							font-size: 21.341px;
							font-style: normal;
							font-weight: 600;
							line-height: 110%; /* 23.475px */
							width: 60%;
							margin-bottom: 10px;
						}
						&.position {
							color: $grey;
							font-family: $alegreya;
							font-size: 18px;
							font-style: normal;
							font-weight: 400;
							line-height: 110%; /* 19.8px */
						}
					}
				}
			}

			&#nuestra-historia {

				.left-column {
					p {
						font-family: $alegreya;
						font-size: 18px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}
				}
				
				.right-column {
					.caption-box {
						margin-top: -50px;
						.caption-body {
							border-radius: 8px;
							background: #000;
							box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
							p {
								color: #FFF;
								font-family: $alegreya;
								font-size: 18px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
								margin-bottom: 0;
								&.years {
									font-family: $figtree;
									font-size: 48px;
									font-style: normal;
									font-weight: 700;
									line-height: normal;
									letter-spacing: -1.056px;
									span {
										font-family: $figtree;
										color: $light;
										font-size: 16px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
										display: block;
									}
								}
							}
						}
					}
				}

			}

		}

	}
}