/* line 9, ../sass/numv.scss */
* {
  font-family: "Alegreya Sans", serif;
  color: #1D1D1B;
}
/* line 14, ../sass/numv.scss */
* body {
  background-color: #F3F6F6;
  background-image: url("../img/bg-left-1.svg"), url("../img/bg-left-2.svg"), url("../img/bg-right-1.svg");
  background-repeat: no-repeat;
  background-position: 0% 0%, 0% 75%, 100% 65%;
}
/* line 17, ../sass/numv.scss */
* body a {
  color: #28A1B7;
  text-decoration: underline solid transparent;
  transition: text-decoration .3s ease;
}
/* line 22, ../sass/numv.scss */
* body a:hover {
  color: #28A1B7;
  text-decoration: underline solid CurrentColor;
}
/* line 35, ../sass/numv.scss */
* body .card {
  border-radius: 8px !important;
  border: 0;
  background: #FFF !important;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05) !important;
}
/* line 43, ../sass/numv.scss */
* body .info-window p {
  font-size: 14px;
  text-align: left;
  margin-bottom: 0;
}
/* line 50, ../sass/numv.scss */
* body p {
  font-size: 20px;
  font-size: 1.6vw;
  font-weight: 400;
  letter-spacing: -0.44px;
}
/* line 57, ../sass/numv.scss */
* body .swiper {
  max-width: 80% !important;
}
/* line 60, ../sass/numv.scss */
* body .swiper-button-prev {
  left: 5% !important;
}
/* line 62, ../sass/numv.scss */
* body .swiper-button-prev:after {
  display: none;
}
/* line 66, ../sass/numv.scss */
* body .swiper-button-next {
  right: 5% !important;
}
/* line 68, ../sass/numv.scss */
* body .swiper-button-next:after {
  display: none;
}
/* line 73, ../sass/numv.scss */
* body .btn-primary {
  border-radius: 8px;
  border: 1px solid var(--base-dark, #1D1D1B);
  background: var(--base-dark, #1D1D1B);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
  font-weight: 700;
  font-size: 1.4vw;
  line-height: 1.5;
  font-family: "Alegreya Sans", serif;
}
/* line 83, ../sass/numv.scss */
* body .btn-primary:hover {
  background-color: #28A1B7;
  color: #ffffff;
  border-color: #28A1B7;
}
/* line 89, ../sass/numv.scss */
* body .btn-primary img {
  margin-bottom: 2px;
  margin-left: 5px;
}
/* line 95, ../sass/numv.scss */
* body header {
  width: 100%;
}
/* line 100, ../sass/numv.scss */
* body header#masthead nav {
  height: 104px;
}
/* line 106, ../sass/numv.scss */
* body header#masthead nav a.logo:after {
  border: 0;
}
/* line 114, ../sass/numv.scss */
* body header#masthead nav #menu-primary ul li {
  padding: 0 0 0 1rem;
}
/* line 119, ../sass/numv.scss */
* body header#masthead nav #menu-primary ul li:hover a, * body header#masthead nav #menu-primary ul li.active a {
  font-weight: 700;
  color: #28A1B7;
}
/* line 124, ../sass/numv.scss */
* body header#masthead nav #menu-primary ul li a {
  color: #1D1D1B;
  font-size: 16px;
  font-size: 1.3vw;
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  line-height: 1.1;
  text-decoration: none;
}
/* line 133, ../sass/numv.scss */
* body header#masthead nav #menu-primary ul li a::after {
  display: none;
}
/* line 148, ../sass/numv.scss */
* body section#inicio h1 {
  font-size: 36px;
  font-size: 2.7vw;
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  letter-spacing: -0.792px;
}
/* line 160, ../sass/numv.scss */
* body section#inicio .card {
  border: 0;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
}
/* line 167, ../sass/numv.scss */
* body section#inicio .card p.title {
  font-size: 24px;
  font-size: 1.4vw;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  text-align: center;
  margin-bottom: 0;
}
/* line 176, ../sass/numv.scss */
* body section#inicio .card p.subtitle {
  font-size: 16px;
  font-size: 1.1vw;
  font-weight: 400;
  font-family: "Alegreya Sans", serif;
  text-align: center;
  margin-bottom: 0;
  width: 80%;
  margin: 0 auto;
}
/* line 192, ../sass/numv.scss */
* body section#cifras h2 {
  font-size: 40px;
  font-size: 3.1vw;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  letter-spacing: -0.88px;
}
/* line 201, ../sass/numv.scss */
* body section#cifras .cards .card {
  border-radius: 8px;
  border: 0;
  background-color: #ffffff;
}
/* line 205, ../sass/numv.scss */
* body section#cifras .cards .card img {
  width: 29px;
  height: 30px;
  flex-shrink: 0;
}
/* line 211, ../sass/numv.scss */
* body section#cifras .cards .card p.title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.342px;
}
/* line 218, ../sass/numv.scss */
* body section#cifras .cards .card p.cifras {
  margin-bottom: 0;
  font-size: 48px;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  line-height: normal;
  letter-spacing: -1.056px;
}
/* line 227, ../sass/numv.scss */
* body section#cifras .cards .card p.cifras span {
  color: #DD4040;
  text-align: center;
  font-family: Figtree;
  font-size: 16px;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: -0.304px;
}
/* line 237, ../sass/numv.scss */
* body section#cifras .cards .card p.cifras span i.fa {
  color: inherit;
}
/* line 250, ../sass/numv.scss */
* body section#graficas .card {
  border-radius: 8px;
  border: 0;
}
/* line 253, ../sass/numv.scss */
* body section#graficas .card h3 {
  font-size: 20px;
  font-family: "Alegreya Sans", serif;
  font-weight: 700;
}
/* line 264, ../sass/numv.scss */
* body section#banner .card {
  border-radius: 8px;
  border: 0;
  background: #FFF;
}
/* line 269, ../sass/numv.scss */
* body section#banner .card p {
  font-size: 24px;
  font-size: 1.9vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 36px */
  letter-spacing: -0.456px;
}
/* line 276, ../sass/numv.scss */
* body section#banner .card p b {
  font-size: 24px;
  font-size: 1.9vw;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.456px;
}
/* line 291, ../sass/numv.scss */
* body section#mapa #map-filters {
  position: absolute;
  bottom: 42px;
  z-index: 9999999999999999;
  left: 25px;
}
/* line 296, ../sass/numv.scss */
* body section#mapa #map-filters .form-check {
  text-align: left;
}
/* line 301, ../sass/numv.scss */
* body section#mapa #map {
  border-radius: 8px !important;
  border: 0;
  background: #FFF !important;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05) !important;
}
/* line 308, ../sass/numv.scss */
* body section#mapa h2 {
  font-size: 40px;
  font-size: 3.1vw;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  letter-spacing: -0.88px;
}
/* line 316, ../sass/numv.scss */
* body section#mapa p {
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}
/* line 327, ../sass/numv.scss */
* body section#reportes h2 {
  font-size: 40px;
  font-size: 3.1vw;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  letter-spacing: -0.88px;
}
/* line 334, ../sass/numv.scss */
* body section#reportes h4 {
  font-family: "Figtree", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 27px */
  letter-spacing: -0.342px;
}
/* line 344, ../sass/numv.scss */
* body section#reportes .row.ver-todos {
  min-height: 95px;
}
/* line 348, ../sass/numv.scss */
* body section#reportes .row.ver-todos p a {
  color: #28A1B7;
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* line 358, ../sass/numv.scss */
* body section#reportes .row.bordered {
  border-bottom: 1px solid #B4B4B4;
  min-height: 100px;
}
/* line 364, ../sass/numv.scss */
* body section#reportes .row.bordered p.title a {
  color: #606060;
  font-family: "Figtree", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 30px */
  letter-spacing: -0.38px;
}
/* line 373, ../sass/numv.scss */
* body section#reportes .row.bordered p.title a span {
  color: #606060;
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
  letter-spacing: -0.342px;
}
/* line 400, ../sass/numv.scss */
* body section#reportes .card p.tag {
  font-family: "Alegreya Sans", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.352px;
}
/* line 410, ../sass/numv.scss */
* body section#reportes .card p.title {
  font-family: "Figtree", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.528px;
}
/* line 420, ../sass/numv.scss */
* body section#reportes .card p.extract {
  color: #606060;
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.342px;
}
/* line 437, ../sass/numv.scss */
* body section#quienes-somos h2 {
  font-size: 40px;
  font-size: 3.1vw;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  letter-spacing: -0.88px;
}
/* line 447, ../sass/numv.scss */
* body section#quienes-somos p.text-center {
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}
/* line 453, ../sass/numv.scss */
* body section#quienes-somos p.text-center:last-child {
  font-weight: 500;
}
/* line 459, ../sass/numv.scss */
* body section#quienes-somos .card {
  border-radius: 8px;
  border: 0;
  background: #FFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
}
/* line 468, ../sass/numv.scss */
* body section#quienes-somos .card p.name {
  font-family: "Figtree", sans-serif;
  font-size: 21.341px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  /* 23.475px */
  width: 60%;
  margin-bottom: 10px;
}
/* line 477, ../sass/numv.scss */
* body section#quienes-somos .card p.position {
  color: #606060;
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  /* 19.8px */
}
/* line 490, ../sass/numv.scss */
* body section#nuestra-historia h2 {
  font-size: 40px;
  font-size: 3.1vw;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  letter-spacing: -0.88px;
}
/* line 499, ../sass/numv.scss */
* body section#nuestra-historia .left-column p {
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}
/* line 509, ../sass/numv.scss */
* body section#nuestra-historia .right-column .caption-box {
  margin-top: -50px;
}
/* line 511, ../sass/numv.scss */
* body section#nuestra-historia .right-column .caption-box .caption-body {
  border-radius: 8px;
  background: #000;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
}
/* line 515, ../sass/numv.scss */
* body section#nuestra-historia .right-column .caption-box .caption-body p {
  color: #FFF;
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}
/* line 523, ../sass/numv.scss */
* body section#nuestra-historia .right-column .caption-box .caption-body p.years {
  font-family: "Figtree", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.056px;
}
/* line 530, ../sass/numv.scss */
* body section#nuestra-historia .right-column .caption-box .caption-body p.years span {
  font-family: "Figtree", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
}
/* line 549, ../sass/numv.scss */
* body section#en-memoria h2 {
  font-size: 40px;
  font-size: 3.1vw;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  letter-spacing: -0.88px;
}
/* line 558, ../sass/numv.scss */
* body section#en-memoria .swiper-slide .card {
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
}
/* line 564, ../sass/numv.scss */
* body section#en-memoria .swiper-slide .card p.name {
  text-align: center;
  font-family: "Figtree", sans-serif;
  font-size: 21.341px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  /* 23.475px */
}
/* line 573, ../sass/numv.scss */
* body section#en-memoria .swiper-slide .card p.position {
  font-family: "Figtree", sans-serif;
  font-size: 10.671px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  /* 11.738px */
}
/* line 581, ../sass/numv.scss */
* body section#en-memoria .swiper-slide .card p.text {
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* line 596, ../sass/numv.scss */
* body footer {
  background-image: url("../img/footer-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 602, ../sass/numv.scss */
* body footer form .form-group {
  position: relative;
}
/* line 605, ../sass/numv.scss */
* body footer form .form-group label.error {
  background-color: #000000;
  color: #ffffff;
  font-size: 10px;
  padding: 3px 10px;
  border-radius: 8px;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 619, ../sass/numv.scss */
* body footer h3 {
  font-family: "Alegreya Sans", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 24px */
}
/* line 628, ../sass/numv.scss */
* body footer p a {
  color: #352F28;
  font-family: "Figtree", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* line 639, ../sass/numv.scss */
* body footer a i.fab {
  font-size: 24px;
  font-size: 1.9vw;
}
