/* line 9, ../sass/numv.scss */
* {
  font-family: "Alegreya Sans", serif;
  color: #1D1D1B;
}
/* line 14, ../sass/numv.scss */
* body {
  background-color: #F3F6F6;
  background-image: url("../img/bg-left-1.svg"), url("../img/bg-left-2.svg"), url("../img/bg-right-1.svg");
  background-repeat: no-repeat;
  background-position: 0% 0%, 0% 75%, 100% 65%;
}
/* line 17, ../sass/numv.scss */
* body a {
  color: #28A1B7;
  text-decoration: underline solid transparent;
  transition: text-decoration .3s ease;
}
/* line 22, ../sass/numv.scss */
* body a:hover {
  color: #28A1B7;
  text-decoration: underline solid CurrentColor;
}
/* line 35, ../sass/numv.scss */
* body .card {
  border-radius: 8px !important;
  border: 0;
  background: #FFF !important;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05) !important;
}
/* line 43, ../sass/numv.scss */
* body .info-window p {
  font-size: 14px;
  text-align: left;
  margin-bottom: 0;
}
/* line 50, ../sass/numv.scss */
* body p {
  font-size: 20px;
  font-size: 1.6vw;
  font-weight: 400;
  letter-spacing: -0.44px;
}
/* line 57, ../sass/numv.scss */
* body .swiper {
  max-width: 80% !important;
}
/* line 60, ../sass/numv.scss */
* body .swiper-button-prev {
  left: 5% !important;
  height: auto;
  width: auto;
}
/* line 64, ../sass/numv.scss */
* body .swiper-button-prev:after {
  display: none;
}
/* line 67, ../sass/numv.scss */
* body .swiper-button-prev:hover {
  background-image: url("../img/left-arrow-dark-hover.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
/* line 72, ../sass/numv.scss */
* body .swiper-button-prev:hover img {
  opacity: 0;
}
/* line 78, ../sass/numv.scss */
* body .swiper-button-next {
  right: 5% !important;
  height: auto;
  width: auto;
}
/* line 82, ../sass/numv.scss */
* body .swiper-button-next:after {
  display: none;
}
/* line 85, ../sass/numv.scss */
* body .swiper-button-next:hover {
  background-image: url("../img/right-arrow-dark-hover.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
/* line 90, ../sass/numv.scss */
* body .swiper-button-next:hover img {
  opacity: 0;
}
/* line 97, ../sass/numv.scss */
* body .btn-primary {
  border-radius: 8px;
  border: 1px solid var(--base-dark, #1D1D1B);
  background: var(--base-dark, #1D1D1B);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
  font-weight: 700;
  font-size: 1.4vw;
  line-height: 1.5;
  font-family: "Alegreya Sans", serif;
}
/* line 107, ../sass/numv.scss */
* body .btn-primary.transparent {
  text-align: right;
  padding-right: 0px;
  background-color: transparent;
  color: #28A1B7;
  border-color: transparent;
  box-shadow: none;
}
/* line 114, ../sass/numv.scss */
* body .btn-primary.transparent img {
  margin-left: 0;
}
/* line 118, ../sass/numv.scss */
* body .btn-primary.transparent:hover {
  background-color: transparent;
  border-color: transparent;
  color: #28A1B7;
  text-decoration: underline;
}
/* line 126, ../sass/numv.scss */
* body .btn-primary:hover {
  background-color: #28A1B7;
  color: #ffffff;
  border-color: #28A1B7;
}
/* line 132, ../sass/numv.scss */
* body .btn-primary img {
  margin-bottom: 2px;
  margin-left: 5px;
}
/* line 138, ../sass/numv.scss */
* body .btn-transparent {
  border-radius: 8px;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
  font-weight: 700;
  font-size: 1.4vw;
  line-height: 1.5;
  font-family: "Alegreya Sans", serif;
  color: #28A1B7;
  padding: 0;
}
/* line 150, ../sass/numv.scss */
* body .btn-transparent:hover {
  background-color: #28A1B7;
  color: #ffffff;
  border-color: #28A1B7;
}
/* line 156, ../sass/numv.scss */
* body .btn-transparent img {
  margin-bottom: 2px;
  margin-left: 5px;
}
/* line 162, ../sass/numv.scss */
* body header {
  width: 100%;
}
/* line 167, ../sass/numv.scss */
* body header#masthead nav {
  height: 104px;
}
/* line 173, ../sass/numv.scss */
* body header#masthead nav a.logo:after {
  border: 0;
}
/* line 181, ../sass/numv.scss */
* body header#masthead nav #menu-primary ul li {
  padding: 0 0 0 1rem;
}
/* line 186, ../sass/numv.scss */
* body header#masthead nav #menu-primary ul li:hover a, * body header#masthead nav #menu-primary ul li.active a {
  font-weight: 700;
  color: #28A1B7;
}
/* line 191, ../sass/numv.scss */
* body header#masthead nav #menu-primary ul li a {
  color: #1D1D1B;
  font-size: 16px;
  font-size: 1.3vw;
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  line-height: 1.1;
  text-decoration: none;
}
/* line 200, ../sass/numv.scss */
* body header#masthead nav #menu-primary ul li a::after {
  display: none;
}
/* line 215, ../sass/numv.scss */
* body section#inicio h1 {
  font-size: 36px;
  font-size: 2.7vw;
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  letter-spacing: -0.792px;
}
/* line 227, ../sass/numv.scss */
* body section#inicio .card {
  border: 0;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
}
/* line 234, ../sass/numv.scss */
* body section#inicio .card p.title {
  font-size: 24px;
  font-size: 1.9vw;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  text-align: center;
  margin-bottom: 0;
}
/* line 243, ../sass/numv.scss */
* body section#inicio .card p.subtitle {
  font-size: 16px;
  font-size: 1.1vw;
  font-weight: 400;
  font-family: "Alegreya Sans", serif;
  text-align: center;
  margin-bottom: 0;
  width: 80%;
  margin: 0 auto;
}
/* line 259, ../sass/numv.scss */
* body section#cifras h2 {
  font-size: 40px;
  font-size: 3.1vw;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  letter-spacing: -0.88px;
}
/* line 268, ../sass/numv.scss */
* body section#cifras .cards .card {
  border-radius: 8px;
  border: 0;
  background-color: #ffffff;
}
/* line 272, ../sass/numv.scss */
* body section#cifras .cards .card img {
  width: 29px;
  height: 30px;
  flex-shrink: 0;
}
/* line 278, ../sass/numv.scss */
* body section#cifras .cards .card p.title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.342px;
}
/* line 285, ../sass/numv.scss */
* body section#cifras .cards .card p.cifras {
  margin-bottom: 0;
  font-size: 48px;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  line-height: normal;
  letter-spacing: -1.056px;
}
/* line 294, ../sass/numv.scss */
* body section#cifras .cards .card p.cifras span {
  color: #DD4040;
  text-align: center;
  font-family: Figtree;
  font-size: 16px;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: -0.304px;
}
/* line 304, ../sass/numv.scss */
* body section#cifras .cards .card p.cifras span i.fa {
  color: inherit;
}
/* line 317, ../sass/numv.scss */
* body section#graficas .card {
  border-radius: 8px;
  border: 0;
}
/* line 320, ../sass/numv.scss */
* body section#graficas .card h3 {
  font-size: 20px;
  font-family: "Alegreya Sans", serif;
  font-weight: 700;
}
/* line 331, ../sass/numv.scss */
* body section#banner .card {
  border-radius: 8px;
  border: 0;
  background: #FFF;
}
/* line 336, ../sass/numv.scss */
* body section#banner .card p {
  font-size: 24px;
  font-size: 1.9vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 36px */
  letter-spacing: -0.456px;
}
/* line 343, ../sass/numv.scss */
* body section#banner .card p b {
  font-size: 24px;
  font-size: 1.9vw;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.456px;
}
/* line 358, ../sass/numv.scss */
* body section#mapa #map-filters {
  position: absolute;
  bottom: 42px;
  z-index: 9999999999999999;
  left: 25px;
}
/* line 363, ../sass/numv.scss */
* body section#mapa #map-filters .form-check {
  text-align: left;
}
/* line 368, ../sass/numv.scss */
* body section#mapa #map {
  border-radius: 8px !important;
  border: 0;
  background: #FFF !important;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05) !important;
}
/* line 375, ../sass/numv.scss */
* body section#mapa h2 {
  font-size: 40px;
  font-size: 3.1vw;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  letter-spacing: -0.88px;
}
/* line 383, ../sass/numv.scss */
* body section#mapa p {
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}
/* line 394, ../sass/numv.scss */
* body section#reportes h2 {
  font-size: 40px;
  font-size: 3.1vw;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  letter-spacing: -0.88px;
}
/* line 401, ../sass/numv.scss */
* body section#reportes h4 {
  font-family: "Figtree", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 27px */
  letter-spacing: -0.342px;
}
/* line 411, ../sass/numv.scss */
* body section#reportes .row.ver-todos {
  min-height: 95px;
}
/* line 415, ../sass/numv.scss */
* body section#reportes .row.ver-todos p a {
  color: #28A1B7;
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* line 426, ../sass/numv.scss */
* body section#reportes .row .ver-todo:hover {
  background-image: url("../img/btn-ver-todo-hover.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
/* line 431, ../sass/numv.scss */
* body section#reportes .row .ver-todo:hover img {
  opacity: 0;
}
/* line 437, ../sass/numv.scss */
* body section#reportes .row.bordered {
  border-bottom: 1px solid #B4B4B4;
  min-height: 100px;
}
/* line 443, ../sass/numv.scss */
* body section#reportes .row.bordered a.my-auto:hover {
  background-image: url("../img/right-arrow-dark-hover.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
/* line 448, ../sass/numv.scss */
* body section#reportes .row.bordered a.my-auto:hover img {
  opacity: 0;
}
/* line 458, ../sass/numv.scss */
* body section#reportes .row.bordered p.title a {
  color: #606060;
  font-family: "Figtree", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 30px */
  letter-spacing: -0.38px;
}
/* line 467, ../sass/numv.scss */
* body section#reportes .row.bordered p.title a span {
  color: #606060;
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
  letter-spacing: -0.342px;
}
/* line 494, ../sass/numv.scss */
* body section#reportes .card p.tag {
  font-family: "Alegreya Sans", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.352px;
}
/* line 504, ../sass/numv.scss */
* body section#reportes .card p.title {
  font-family: "Figtree", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.528px;
}
/* line 514, ../sass/numv.scss */
* body section#reportes .card p.extract {
  color: #606060;
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.342px;
}
/* line 531, ../sass/numv.scss */
* body section#quienes-somos h2 {
  font-size: 40px;
  font-size: 3.1vw;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  letter-spacing: -0.88px;
}
/* line 541, ../sass/numv.scss */
* body section#quienes-somos p.text-center {
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}
/* line 547, ../sass/numv.scss */
* body section#quienes-somos p.text-center:last-child {
  font-weight: 500;
}
/* line 553, ../sass/numv.scss */
* body section#quienes-somos .card {
  border-radius: 8px;
  border: 0;
  background: #FFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
}
/* line 562, ../sass/numv.scss */
* body section#quienes-somos .card p.name {
  font-family: "Figtree", sans-serif;
  font-size: 21.341px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  /* 23.475px */
  width: 60%;
  margin-bottom: 10px;
}
/* line 571, ../sass/numv.scss */
* body section#quienes-somos .card p.position {
  color: #606060;
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  /* 19.8px */
}
/* line 584, ../sass/numv.scss */
* body section#nuestra-historia h2 {
  font-size: 40px;
  font-size: 3.1vw;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  letter-spacing: -0.88px;
}
/* line 593, ../sass/numv.scss */
* body section#nuestra-historia .left-column p {
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}
/* line 603, ../sass/numv.scss */
* body section#nuestra-historia .right-column .caption-box {
  margin-top: -50px;
}
/* line 605, ../sass/numv.scss */
* body section#nuestra-historia .right-column .caption-box .caption-body {
  border-radius: 8px;
  background: #000;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
}
/* line 609, ../sass/numv.scss */
* body section#nuestra-historia .right-column .caption-box .caption-body p {
  color: #FFF;
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}
/* line 617, ../sass/numv.scss */
* body section#nuestra-historia .right-column .caption-box .caption-body p.years {
  font-family: "Figtree", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.056px;
}
/* line 624, ../sass/numv.scss */
* body section#nuestra-historia .right-column .caption-box .caption-body p.years span {
  font-family: "Figtree", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
}
/* line 643, ../sass/numv.scss */
* body section#en-memoria h2 {
  font-size: 40px;
  font-size: 3.1vw;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  letter-spacing: -0.88px;
}
/* line 652, ../sass/numv.scss */
* body section#en-memoria .swiper-slide .card {
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
}
/* line 658, ../sass/numv.scss */
* body section#en-memoria .swiper-slide .card p.name {
  text-align: center;
  font-family: "Figtree", sans-serif;
  font-size: 21.341px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  /* 23.475px */
}
/* line 667, ../sass/numv.scss */
* body section#en-memoria .swiper-slide .card p.position {
  font-family: "Figtree", sans-serif;
  font-size: 10.671px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  /* 11.738px */
}
/* line 675, ../sass/numv.scss */
* body section#en-memoria .swiper-slide .card p.text {
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* line 690, ../sass/numv.scss */
* body footer {
  background-image: url("../img/footer-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 696, ../sass/numv.scss */
* body footer form .form-group {
  position: relative;
}
/* line 699, ../sass/numv.scss */
* body footer form .form-group label.error {
  background-color: #000000;
  color: #ffffff;
  font-size: 10px;
  padding: 3px 10px;
  border-radius: 8px;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 713, ../sass/numv.scss */
* body footer #scroll-top {
  height: auto;
  width: auto;
  display: block;
}
/* line 717, ../sass/numv.scss */
* body footer #scroll-top:hover {
  background-image: url("../img/rounded-top-arrow-dark-hover.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
/* line 722, ../sass/numv.scss */
* body footer #scroll-top:hover img {
  opacity: 0;
}
/* line 729, ../sass/numv.scss */
* body footer h3 {
  font-family: "Alegreya Sans", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 24px */
}
/* line 738, ../sass/numv.scss */
* body footer p a {
  color: #352F28;
  font-family: "Figtree", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* line 749, ../sass/numv.scss */
* body footer a i.fab {
  font-size: 24px;
  font-size: 1.9vw;
}
