/* line 9, ../sass/numv.scss */
* {
  font-family: "Alegreya Sans", serif;
  color: #1D1D1B;
}
/* line 14, ../sass/numv.scss */
* body {
  background-color: #F3F6F6;
  background-image: url("../img/bg-left-1.svg"), url("../img/bg-left-2.svg"), url("../img/bg-right-1.svg");
  background-repeat: no-repeat;
  background-position: 0% 0%, 0% 75%, 100% 65%;
}
/* line 16, ../sass/numv.scss */
* body .debug {
  border: 2px dotted green;
}
/* line 18, ../sass/numv.scss */
* body a {
  color: #28A1B7;
  text-decoration: underline solid transparent;
  transition: text-decoration .3s ease;
}
/* line 23, ../sass/numv.scss */
* body a:hover {
  color: #28A1B7;
  text-decoration: underline solid CurrentColor;
}
/* line 28, ../sass/numv.scss */
* body a:focus {
  box-shadow: none !important;
  background-color: #28A1B7 !important;
  border-color: #28A1B7 !important;
}
/* line 37, ../sass/numv.scss */
* body button:focus {
  box-shadow: none !important;
  background-color: #28A1B7 !important;
  border-color: #28A1B7 !important;
}
/* line 44, ../sass/numv.scss */
* body .form-control:focus {
  border-color: #28A1B7;
  box-shadow: none !important;
}
/* line 56, ../sass/numv.scss */
* body .card {
  border-radius: 8px !important;
  border: 0;
  background: #FFF !important;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05) !important;
}
/* line 64, ../sass/numv.scss */
* body .info-window p {
  font-size: 14px;
  text-align: left;
  margin-bottom: 0;
}
/* line 71, ../sass/numv.scss */
* body p {
  font-size: 20px;
  font-size: 1.6vw;
  font-weight: 400;
  letter-spacing: -0.44px;
}
/* line 78, ../sass/numv.scss */
* body .swiper {
  max-width: 80% !important;
}
/* line 81, ../sass/numv.scss */
* body .swiper-button-prev {
  left: 5% !important;
  height: auto;
  width: auto;
}
/* line 85, ../sass/numv.scss */
* body .swiper-button-prev:after {
  display: none;
}
/* line 88, ../sass/numv.scss */
* body .swiper-button-prev:hover {
  background-image: url("../img/left-arrow-dark-hover.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
/* line 93, ../sass/numv.scss */
* body .swiper-button-prev:hover img {
  opacity: 0;
}
/* line 99, ../sass/numv.scss */
* body .swiper-button-next {
  right: 5% !important;
  height: auto;
  width: auto;
}
/* line 103, ../sass/numv.scss */
* body .swiper-button-next:after {
  display: none;
}
/* line 106, ../sass/numv.scss */
* body .swiper-button-next:hover {
  background-image: url("../img/right-arrow-dark-hover.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
/* line 111, ../sass/numv.scss */
* body .swiper-button-next:hover img {
  opacity: 0;
}
/* line 118, ../sass/numv.scss */
* body .btn-light {
  border-radius: 8px;
  border: 1px solid var(--base-dark, #ffffff);
  background: var(--base-dark, #ffffff);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
  font-weight: 700;
  font-size: 1.4vw;
  line-height: 1.5;
  font-family: "Alegreya Sans", serif;
}
/* line 128, ../sass/numv.scss */
* body .btn-light:hover {
  background-color: #1D1D1B;
  color: #ffffff;
  border-color: #1D1D1B;
}
/* line 134, ../sass/numv.scss */
* body .btn-light img {
  margin-bottom: 2px;
  margin-left: 5px;
}
/* line 140, ../sass/numv.scss */
* body .btn-primary {
  border-radius: 8px;
  border: 1px solid var(--base-dark, #1D1D1B);
  background: var(--base-dark, #1D1D1B);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
  font-weight: 700;
  font-size: 1.4vw;
  line-height: 1.5;
  font-family: "Alegreya Sans", serif;
}
/* line 150, ../sass/numv.scss */
* body .btn-primary.transparent {
  text-align: right;
  padding-right: 0px;
  background-color: transparent;
  color: #28A1B7;
  border-color: transparent;
  box-shadow: none;
}
/* line 157, ../sass/numv.scss */
* body .btn-primary.transparent img {
  margin-left: 0;
}
/* line 161, ../sass/numv.scss */
* body .btn-primary.transparent:hover {
  background-color: transparent;
  border-color: transparent;
  color: #28A1B7;
  text-decoration: underline;
}
/* line 169, ../sass/numv.scss */
* body .btn-primary:hover {
  background-color: #28A1B7;
  color: #ffffff;
  border-color: #28A1B7;
}
/* line 175, ../sass/numv.scss */
* body .btn-primary img {
  margin-bottom: 2px;
  margin-left: 5px;
}
/* line 183, ../sass/numv.scss */
* body .btn-transparent {
  border-radius: 8px;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
  font-weight: 700;
  font-size: 1.4vw;
  line-height: 1.5;
  font-family: "Alegreya Sans", serif;
  color: #28A1B7;
  padding: 0;
}
/* line 195, ../sass/numv.scss */
* body .btn-transparent:hover {
  background-color: #28A1B7;
  color: #ffffff;
  border-color: #28A1B7;
}
/* line 201, ../sass/numv.scss */
* body .btn-transparent img {
  margin-bottom: 2px;
  margin-left: 5px;
}
/* line 207, ../sass/numv.scss */
* body header {
  width: 100%;
}
/* line 212, ../sass/numv.scss */
* body header#masthead nav {
  height: 104px;
}
/* line 218, ../sass/numv.scss */
* body header#masthead nav a.logo:after {
  border: 0;
}
/* line 226, ../sass/numv.scss */
* body header#masthead nav #menu-primary ul li {
  padding: 0 0 0 1rem;
}
/* line 231, ../sass/numv.scss */
* body header#masthead nav #menu-primary ul li:hover a, * body header#masthead nav #menu-primary ul li.active a {
  font-weight: 700;
  color: #28A1B7;
}
/* line 236, ../sass/numv.scss */
* body header#masthead nav #menu-primary ul li a {
  color: #1D1D1B;
  font-size: 16px;
  font-size: 1.3vw;
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  line-height: 1.1;
  text-decoration: none;
}
/* line 245, ../sass/numv.scss */
* body header#masthead nav #menu-primary ul li a::after {
  display: none;
}
/* line 260, ../sass/numv.scss */
* body section .container.for-mobile {
  width: 100%;
  max-width: 100%;
}
/* line 268, ../sass/numv.scss */
* body section.dashboard.header h1 {
  font-family: "Figtree", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.704px;
}
/* line 279, ../sass/numv.scss */
* body section.dashboard.badges p {
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 1rem;
}
/* line 283, ../sass/numv.scss */
* body section.dashboard.badges a {
  padding: 2px 12px;
  align-items: center;
  border-radius: 11px;
  background: #E8E8E8;
  color: #1D1D1B;
  font-family: "Figtree", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 138.462% */
}
/* line 297, ../sass/numv.scss */
* body section.dashboard.badges a.badge-pill img {
  margin-left: 8px;
}
/* line 302, ../sass/numv.scss */
* body section.dashboard.badges a:hover {
  background-color: #ffffff;
  color: #ededed;
}
/* line 310, ../sass/numv.scss */
* body section.dashboard.graficas {
  height: 65vh;
}
/* line 312, ../sass/numv.scss */
* body section.dashboard.graficas h3 {
  font-family: "Figtree", sans-serif;
  font-size: 17.006px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  /* 18.707px */
}
/* line 330, ../sass/numv.scss */
* body section.blog.single img {
  border-radius: 8px;
}
/* line 334, ../sass/numv.scss */
* body section.blog.single .badge {
  border-radius: 11px;
  padding: 0px 10px;
}
/* line 338, ../sass/numv.scss */
* body section.blog.single .badge.reporte {
  background: #DFF2F6;
  color: #61C0D1;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  /* 138.462% */
}
/* line 347, ../sass/numv.scss */
* body section.blog.single .badge.articulo {
  background: #ECE3F3;
  color: #A073C3;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  /* 138.462% */
}
/* line 361, ../sass/numv.scss */
* body section.blog.grid .card img {
  border-radius: 8px;
}
/* line 366, ../sass/numv.scss */
* body section.blog.grid .card p.date {
  font-family: "Figtree", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.264px;
}
/* line 375, ../sass/numv.scss */
* body section.blog.grid .card p.title {
  font-family: "Figtree", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.528px;
}
/* line 384, ../sass/numv.scss */
* body section.blog.grid .card p.excerpt {
  color: #606060;
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.342px;
}
/* line 395, ../sass/numv.scss */
* body section.blog.grid .card p.categories .badge {
  border-radius: 11px;
  padding: 0px 10px;
}
/* line 399, ../sass/numv.scss */
* body section.blog.grid .card p.categories .badge.reporte {
  background: #DFF2F6;
  color: #61C0D1;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  /* 138.462% */
}
/* line 408, ../sass/numv.scss */
* body section.blog.grid .card p.categories .badge.articulo {
  background: #ECE3F3;
  color: #A073C3;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  /* 138.462% */
}
/* line 422, ../sass/numv.scss */
* body section.blog.grid .card a.permalink {
  color: #1D1D1B;
}
/* line 432, ../sass/numv.scss */
* body section#inicio h1 {
  font-size: 36px;
  font-size: 2.7vw;
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  letter-spacing: -0.792px;
}
/* line 444, ../sass/numv.scss */
* body section#inicio .card {
  border: 0;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
}
/* line 451, ../sass/numv.scss */
* body section#inicio .card p.title {
  font-size: 24px;
  font-size: 1.9vw;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  text-align: center;
  margin-bottom: 0;
}
/* line 460, ../sass/numv.scss */
* body section#inicio .card p.subtitle {
  font-size: 16px;
  font-size: 1.1vw;
  font-weight: 400;
  font-family: "Alegreya Sans", serif;
  text-align: center;
  margin-bottom: 0;
  width: 80%;
  margin: 0 auto;
}
/* line 476, ../sass/numv.scss */
* body section#cifras h2 {
  font-size: 40px;
  font-size: 3.1vw;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  letter-spacing: -0.88px;
}
/* line 485, ../sass/numv.scss */
* body section#cifras .cards .card {
  border-radius: 8px;
  border: 0;
  background-color: #ffffff;
}
/* line 489, ../sass/numv.scss */
* body section#cifras .cards .card img {
  width: 29px;
  height: 30px;
  flex-shrink: 0;
}
/* line 495, ../sass/numv.scss */
* body section#cifras .cards .card p.title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.342px;
}
/* line 502, ../sass/numv.scss */
* body section#cifras .cards .card p.cifras {
  margin-bottom: 0;
  font-size: 48px;
  font-size: 3.9vw;
  font-style: normal;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  line-height: normal;
  letter-spacing: -1.056px;
}
/* line 511, ../sass/numv.scss */
* body section#cifras .cards .card p.cifras em {
  font-weight: inherit;
  font-style: normal;
  font-family: "Figtree", sans-serif;
}
/* line 516, ../sass/numv.scss */
* body section#cifras .cards .card p.cifras span {
  color: #DD4040;
  text-align: center;
  font-family: Figtree;
  font-size: 16px;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: -0.304px;
}
/* line 526, ../sass/numv.scss */
* body section#cifras .cards .card p.cifras span i.fa {
  color: inherit;
}
/* line 539, ../sass/numv.scss */
* body section#graficas .card {
  border-radius: 8px;
  border: 0;
}
/* line 542, ../sass/numv.scss */
* body section#graficas .card h3 {
  font-size: 20px;
  font-family: "Alegreya Sans", serif;
  font-weight: 700;
}
/* line 553, ../sass/numv.scss */
* body section#banner .card {
  border-radius: 8px;
  border: 0;
  background: #FFF;
}
/* line 558, ../sass/numv.scss */
* body section#banner .card p {
  font-size: 24px;
  font-size: 3vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 36px */
  letter-spacing: -0.456px;
}
/* line 565, ../sass/numv.scss */
* body section#banner .card p b {
  font-size: 24px;
  font-size: 1.9vw;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.456px;
}
/* line 580, ../sass/numv.scss */
* body section#mapa #map-filters {
  position: absolute;
  bottom: 42px;
  z-index: 9999999999999999;
  left: 25px;
}
/* line 585, ../sass/numv.scss */
* body section#mapa #map-filters .form-check {
  text-align: left;
}
/* line 590, ../sass/numv.scss */
* body section#mapa #map {
  border-radius: 8px !important;
  border: 0;
  background: #FFF !important;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05) !important;
}
/* line 597, ../sass/numv.scss */
* body section#mapa h2 {
  font-size: 40px;
  font-size: 3.1vw;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  letter-spacing: -0.88px;
}
/* line 605, ../sass/numv.scss */
* body section#mapa p {
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}
/* line 616, ../sass/numv.scss */
* body section#reportes h2 {
  font-size: 40px;
  font-size: 3.1vw;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  letter-spacing: -0.88px;
}
/* line 623, ../sass/numv.scss */
* body section#reportes h4 {
  font-family: "Figtree", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 27px */
  letter-spacing: -0.342px;
}
/* line 633, ../sass/numv.scss */
* body section#reportes .row.ver-todos {
  min-height: 95px;
}
/* line 637, ../sass/numv.scss */
* body section#reportes .row.ver-todos p a {
  color: #28A1B7;
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* line 648, ../sass/numv.scss */
* body section#reportes .row .ver-todo:hover {
  background-image: url("../img/btn-ver-todo-hover.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
/* line 653, ../sass/numv.scss */
* body section#reportes .row .ver-todo:hover img {
  opacity: 0;
}
/* line 659, ../sass/numv.scss */
* body section#reportes .row.bordered {
  border-bottom: 1px solid #B4B4B4;
  min-height: 100px;
}
/* line 665, ../sass/numv.scss */
* body section#reportes .row.bordered a.my-auto:hover {
  background-image: url("../img/right-arrow-dark-hover.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
/* line 670, ../sass/numv.scss */
* body section#reportes .row.bordered a.my-auto:hover img {
  opacity: 0;
}
/* line 680, ../sass/numv.scss */
* body section#reportes .row.bordered p.title a {
  color: #606060;
  font-family: "Figtree", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 30px */
  letter-spacing: -0.38px;
}
/* line 689, ../sass/numv.scss */
* body section#reportes .row.bordered p.title a span {
  color: #606060;
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
  letter-spacing: -0.342px;
}
/* line 710, ../sass/numv.scss */
* body section#reportes .card img {
  border-radius: 8px !important;
}
/* line 716, ../sass/numv.scss */
* body section#reportes .card p.tag {
  font-family: "Alegreya Sans", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.352px;
}
/* line 726, ../sass/numv.scss */
* body section#reportes .card p.title {
  font-family: "Figtree", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.528px;
}
/* line 736, ../sass/numv.scss */
* body section#reportes .card p.extract {
  color: #606060;
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.342px;
}
/* line 753, ../sass/numv.scss */
* body section#quienes-somos h2 {
  font-size: 40px;
  font-size: 3.1vw;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  letter-spacing: -0.88px;
}
/* line 763, ../sass/numv.scss */
* body section#quienes-somos p.text-center {
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}
/* line 769, ../sass/numv.scss */
* body section#quienes-somos p.text-center:last-child {
  font-weight: 500;
}
/* line 776, ../sass/numv.scss */
* body section#quienes-somos .swiper-button-disabled {
  display: none;
}
/* line 780, ../sass/numv.scss */
* body section#quienes-somos .card {
  justify-content: space-between;
  border-radius: 8px;
  border: 0;
  background: #FFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
  min-height: 340px;
}
/* line 791, ../sass/numv.scss */
* body section#quienes-somos .card p.name {
  font-family: "Figtree", sans-serif;
  font-size: 21.341px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  /* 23.475px */
  width: 60%;
  margin-bottom: 10px;
}
/* line 800, ../sass/numv.scss */
* body section#quienes-somos .card p.position {
  color: #606060;
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  /* 19.8px */
}
/* line 813, ../sass/numv.scss */
* body section#nuestra-historia h2 {
  font-size: 40px;
  font-size: 3.1vw;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  letter-spacing: -0.88px;
}
/* line 822, ../sass/numv.scss */
* body section#nuestra-historia .left-column p {
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}
/* line 831, ../sass/numv.scss */
* body section#nuestra-historia .left-column img.logo {
  height: 45px;
}
/* line 839, ../sass/numv.scss */
* body section#nuestra-historia .right-column .caption-box {
  margin-top: -50px;
}
/* line 841, ../sass/numv.scss */
* body section#nuestra-historia .right-column .caption-box .caption-body {
  border-radius: 8px;
  background: #000;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
}
/* line 845, ../sass/numv.scss */
* body section#nuestra-historia .right-column .caption-box .caption-body p {
  color: #FFF;
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}
/* line 853, ../sass/numv.scss */
* body section#nuestra-historia .right-column .caption-box .caption-body p.years {
  font-family: "Figtree", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.056px;
}
/* line 860, ../sass/numv.scss */
* body section#nuestra-historia .right-column .caption-box .caption-body p.years span {
  font-family: "Figtree", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
}
/* line 879, ../sass/numv.scss */
* body section#en-memoria h2 {
  font-size: 40px;
  font-size: 3.1vw;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  letter-spacing: -0.88px;
}
/* line 889, ../sass/numv.scss */
* body section#en-memoria .swiper-slide .card {
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
}
/* line 895, ../sass/numv.scss */
* body section#en-memoria .swiper-slide .card p.name {
  text-align: center;
  font-family: "Figtree", sans-serif;
  font-size: 21.341px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  /* 23.475px */
}
/* line 904, ../sass/numv.scss */
* body section#en-memoria .swiper-slide .card p.position {
  font-family: "Figtree", sans-serif;
  font-size: 10.671px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  /* 11.738px */
}
/* line 912, ../sass/numv.scss */
* body section#en-memoria .swiper-slide .card p.text {
  font-family: "Alegreya Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* line 927, ../sass/numv.scss */
* body footer {
  background-image: url("../img/footer-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 933, ../sass/numv.scss */
* body footer.dashboard p {
  color: var(--base-dark, #1D1D1B);
  font-family: "Alegreya Sans", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
}
/* line 944, ../sass/numv.scss */
* body footer form .form-group {
  position: relative;
}
/* line 947, ../sass/numv.scss */
* body footer form .form-group label.error {
  background-color: #000000;
  color: #ffffff;
  font-size: 10px;
  padding: 3px 10px;
  border-radius: 8px;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 960, ../sass/numv.scss */
* body footer form .form-group .btn-group .btn-primary {
  background-color: #ffffff;
  border-color: #1D1D1B;
  color: #1D1D1B;
}
/* line 964, ../sass/numv.scss */
* body footer form .form-group .btn-group .btn-primary:not(:disabled):not(.disabled).active, * body footer form .form-group .btn-group .btn-primary:not(:disabled):not(.disabled):active {
  background-color: #1D1D1B;
  color: #ffffff;
  border-color: #1D1D1B;
}
/* line 972, ../sass/numv.scss */
* body footer form .form-group .btn-group .show > .btn-primary.dropdown-toggle {
  background-color: #1D1D1B;
  color: #ffffff;
  border-color: #1D1D1B;
}
/* line 982, ../sass/numv.scss */
* body footer .scroll-top {
  height: auto;
  width: auto;
  display: block;
}
/* line 986, ../sass/numv.scss */
* body footer .scroll-top:hover {
  background-image: url("../img/rounded-top-arrow-dark-hover.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
/* line 991, ../sass/numv.scss */
* body footer .scroll-top:hover img {
  opacity: 0;
}
/* line 998, ../sass/numv.scss */
* body footer h3 {
  font-family: "Alegreya Sans", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 24px */
}
/* line 1007, ../sass/numv.scss */
* body footer p a {
  color: #352F28;
  font-family: "Figtree", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* line 1018, ../sass/numv.scss */
* body footer a i.fab {
  font-size: 24px;
  font-size: 1.9vw;
}
