@media (max-width: 575px) {
  /* line 18, ../sass/responsive.scss */
  * body p {
    font-size: 16px;
  }
  /* line 22, ../sass/responsive.scss */
  * body .btn-primary {
    font-size: 16px;
  }
  /* line 30, ../sass/responsive.scss */
  * body .btn-light {
    font-size: 16px;
  }
  /* line 43, ../sass/responsive.scss */
  * body header#masthead.static nav {
    height: 80px;
  }
  /* line 46, ../sass/responsive.scss */
  * body header#masthead.static nav .logo img {
    margin-top: 0;
  }
  /* line 53, ../sass/responsive.scss */
  * body header#masthead nav {
    height: auto;
  }
  /* line 57, ../sass/responsive.scss */
  * body header#masthead nav .z-index-movil {
    z-index: 2;
  }
  /* line 61, ../sass/responsive.scss */
  * body header#masthead nav button {
    border: 0;
  }
  /* line 66, ../sass/responsive.scss */
  * body header#masthead nav .logo img {
    max-height: 50px;
  }
  /* line 78, ../sass/responsive.scss */
  * body header#masthead nav #menu-primary {
    width: 100%;
    background-color: #F3F6F6;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
  /* line 88, ../sass/responsive.scss */
  * body header#masthead nav #menu-primary ul {
    padding-top: 0;
    text-align: center;
    height: 100vh;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  /* line 97, ../sass/responsive.scss */
  * body header#masthead nav #menu-primary ul li {
    padding-left: 0;
    margin: 1rem auto;
    padding: 0 0 0 0;
    width: 100%;
  }
  /* line 104, ../sass/responsive.scss */
  * body header#masthead nav #menu-primary ul li.active a:after {
    position: relative;
    width: 100%;
    display: block;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 1rem;
  }
  /* line 114, ../sass/responsive.scss */
  * body header#masthead nav #menu-primary ul li a {
    font-size: 20px;
    color: light;
  }
  /* line 125, ../sass/responsive.scss */
  * body section {
    border: 1px dotted red;
  }
  /* line 129, ../sass/responsive.scss */
  * body section .container {
    padding-right: 20px;
    padding-left: 20px;
    border: 1px dotted orange;
  }
  /* line 134, ../sass/responsive.scss */
  * body section .container > .row {
    border: 1px dotted green;
  }
  /* line 141, ../sass/responsive.scss */
  * body section#inicio h1 {
    font-size: 24px;
  }
  /* line 152, ../sass/responsive.scss */
  * body section#inicio .card p.title {
    font-size: 18px;
  }
  /* line 156, ../sass/responsive.scss */
  * body section#inicio .card p.subtitle {
    font-size: 12px;
  }
  /* line 165, ../sass/responsive.scss */
  * body section#cifras h2 {
    font-size: 22px;
  }
  /* line 175, ../sass/responsive.scss */
  * body section#cifras .cards .card p {
    font-size: 14px;
  }
  /* line 177, ../sass/responsive.scss */
  * body section#cifras .cards .card p.title {
    font-size: 14px;
  }
  /* line 180, ../sass/responsive.scss */
  * body section#cifras .cards .card p.cifras {
    font-size: 34px;
  }
  /* line 182, ../sass/responsive.scss */
  * body section#cifras .cards .card p.cifras span {
    font-size: 14px;
  }
  /* line 195, ../sass/responsive.scss */
  * body section#graficas h3 {
    font-size: 14px;
  }
  /* line 203, ../sass/responsive.scss */
  * body section#banner .card p {
    font-size: 20px;
    line-height: 1.2;
  }
  /* line 207, ../sass/responsive.scss */
  * body section#banner .card p b {
    font-size: 22px;
    line-height: 1.2;
  }
  /* line 220, ../sass/responsive.scss */
  * body section#mapa h2 {
    font-size: 22px;
  }
  /* line 225, ../sass/responsive.scss */
  * body section#mapa p {
    font-size: 18px;
  }
  /* line 231, ../sass/responsive.scss */
  * body section#reportes h2 {
    font-size: 22px;
  }
  /* line 234, ../sass/responsive.scss */
  * body section#reportes h4 {
    font-size: 20px;
  }
  /* line 267, ../sass/responsive.scss */
  * body section#reportes .row.bordered p.title a {
    font-size: 16px;
  }
  /* line 269, ../sass/responsive.scss */
  * body section#reportes .row.bordered p.title a span {
    font-size: 14px;
  }
  /* line 290, ../sass/responsive.scss */
  * body section#reportes .card p.tag {
    font-size: 14px;
  }
  /* line 295, ../sass/responsive.scss */
  * body section#reportes .card p.title {
    font-size: 16px;
  }
  /* line 300, ../sass/responsive.scss */
  * body section#reportes .card p.extract {
    font-size: 16px;
  }
  /* line 311, ../sass/responsive.scss */
  * body section#quienes-somos h2 {
    font-size: 22px;
  }
  /* line 317, ../sass/responsive.scss */
  * body section#quienes-somos p.text-center {
    font-size: 16px;
  }
  /* line 319, ../sass/responsive.scss */
  * body section#quienes-somos p.text-center:last-child {
    font-weight: 500;
  }
  /* line 334, ../sass/responsive.scss */
  * body section#quienes-somos .card p.name {
    font-size: 21.341px;
  }
  /* line 337, ../sass/responsive.scss */
  * body section#quienes-somos .card p.position {
    font-size: 18px;
  }
  /* line 345, ../sass/responsive.scss */
  * body section#nuestra-historia h2 {
    font-size: 22px;
  }
  /* line 350, ../sass/responsive.scss */
  * body section#nuestra-historia .left-column p {
    font-size: 16px;
  }
  /* line 359, ../sass/responsive.scss */
  * body section#nuestra-historia .right-column .caption-box .caption-body p {
    font-size: 16px;
  }
  /* line 361, ../sass/responsive.scss */
  * body section#nuestra-historia .right-column .caption-box .caption-body p.years {
    font-size: 24px;
  }
  /* line 363, ../sass/responsive.scss */
  * body section#nuestra-historia .right-column .caption-box .caption-body p.years span {
    font-size: 14px;
  }
  /* line 376, ../sass/responsive.scss */
  * body section#en-memoria h2 {
    font-size: 22px;
  }
  /* line 384, ../sass/responsive.scss */
  * body section#en-memoria .swiper-slide .card p.name {
    font-size: 12px;
  }
  /* line 388, ../sass/responsive.scss */
  * body section#en-memoria .swiper-slide .card p.position {
    font-size: 12px;
  }
  /* line 392, ../sass/responsive.scss */
  * body section#en-memoria .swiper-slide .card p.text {
    font-size: 12px;
    line-height: 1.5;
  }
  /* line 404, ../sass/responsive.scss */
  * body section.dashboard.header h1 {
    font-size: 26px;
  }
  /* line 412, ../sass/responsive.scss */
  * body section.dashboard form.form-inline {
    display: block !important;
  }
  /* line 420, ../sass/responsive.scss */
  * body section.dashboard.badges a {
    padding: 2px 12px;
    align-items: center;
    border-radius: 11px;
    background: #E8E8E8;
    color: #1D1D1B;
    font-family: "Figtree", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 138.462% */
  }
  /* line 434, ../sass/responsive.scss */
  * body section.dashboard.badges a.badge-pill img {
    margin-left: 8px;
  }
  /* line 439, ../sass/responsive.scss */
  * body section.dashboard.badges a:hover {
    background-color: #ffffff;
    color: #ededed;
  }
  /* line 447, ../sass/responsive.scss */
  * body section.dashboard.graficas {
    height: auto;
  }
  /* line 449, ../sass/responsive.scss */
  * body section.dashboard.graficas h3 {
    font-size: 20px;
  }
  /* line 468, ../sass/responsive.scss */
  * body footer .container {
    padding-right: 20px;
    padding-left: 20px;
    border: 1px dotted orange;
  }
  /* line 473, ../sass/responsive.scss */
  * body footer .container > .row {
    border: 1px dotted green;
  }
  /* line 480, ../sass/responsive.scss */
  * body footer a i.fab {
    font-size: 18px;
  }
  /* line 487, ../sass/responsive.scss */
  * body footer.dashboard p {
    font-size: 14px;
  }
}
